.titulo-principal {
    text-align: center;
    font-style: italic;
    font-family: monospace;
}

ul {
    text-align: center;
}

h1 {
    text-align: center;
    color: darkgreen;
    background: black;
}

h2 {
    text-align: center;
    color: darkgreen; 
    background: #CCCCCC;
}

.medias {
    font-style: italic;
}

.titulo-centralizado {
    text-align: center;
}


p {
    text-align: center;
}

